# Dependências de Node (Frontend)
**/node_modules
**/.next
**/out
**/build
npm-debug.log

# Dependências de Java (Backend)
**/target
**/.mvn
**/mvnw
**/mvnw.cmd

# IDEs e Sistema
.git
.gitignore
.vscode
.idea
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore
.env