MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
# Preencha apenas se quiser testar envio de e-mails (senha sem espaços)
MAIL_USERNAME=
MAIL_PASSWORD=

APP_FRONTEND_RESET_PASSWORD_URL=http://localhost:3000/reset-password