# =========================
# DOCKER / INFRA
# =========================
POSTGRES_DB=apae
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_PORT=5200

MINIO_ROOT_USER=ROOTUSER
MINIO_ROOT_PASSWORD=CHANGEME123
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_DATA_PATH=/home/seu-usuario/minio/data

# =========================
# API - SPRING
# =========================
API_PORT=8090
DB_URL=jdbc:postgresql://localhost:5200/apae
DB_USERNAME=user
DB_PASSWORD=pass

JWT_SECRET=U29tZVNlY3JldEF0TGVhc3QtMjU2Qml0cw==
JWT_EXPIRATION_HOURS=24

MINIO_URL=http://127.0.0.1:9000
MINIO_ACCESS_KEY=ROOTUSER
MINIO_SECRET_KEY=CHANGEME123

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
# Use aspas se a senha contiver espaços
MAIL_USERNAME=
MAIL_PASSWORD=

CORS_ALLOWED_ORIGINS=http://localhost:3000

APP_FRONTEND_RESET_PASSWORD_URL=http://localhost:3000/reset-password

DB_CONTAINER=apae-postgres
DB_NAME=apae

# =========================
# FRONTEND - APAE
# =========================
NEXT_PUBLIC_API_URL=http://localhost:8090/api
NEXT_PUBLIC_DOCUMENTS_API_URL=http://localhost:8092/api/documents
NEXT_PUBLIC_USE_MOCK_DATA=false

# =========================
# FRONTEND - MANAGEMENT
# =========================
NEXT_PUBLIC_MANAGEMENT_API_URL=http://localhost:8090/api
