NEXT_PUBLIC_TOKEN="seu_token"
NEXT_PUBLIC_API_URL_AUTH=http://localhost:8091/api/auth/
NEXT_PUBLIC_API_URL_DOCUMENTS=http://localhost:8092/api/documents
NEXT_PUBLIC_API_URL_PERSON=http://localhost:8090/pessoas