# Dependências e artefatos de build
node_modules
.next
out
build
coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Ambiente local
.env
.env.*
!.env.example

# Git / IDE / SO
.git
.gitignore
.vscode
.idea
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore

# Misc
*.tsbuildinfo
next-env.d.ts
.vercel
README.md
